h2.intro {
  color:blue;
  font-family: 'Times New Roman', Times, serif;
}

p.intro {
  color:crimson;
  font-family: 'Times New Roman', Times, serif;
}

img.intro {
  border: 2px solid darkcyan;
  padding: 4px;
  
}